
/* variables definidas */ 

:root {
    --font-size16: 16px;
    --font-weight-primary: 600;
    --font-family-primary: "Inter", sans-serif;
    --bg-body-color:#fff;
    --bg-primary-color:#06283d;
}

/*  reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background:var(--bg-body-color);
    font-family: var(--font-family-primary);
}

.mt-20 {
    padding-top:30px;
}

/*

 mobile firs 
 hacer todo para pantalla mobile 
 
 usar media queries para pantallas escritorio

*/

/* mobile first */


/* layouts */
/* estilos.css */

/* Estilos generales para el header */



/*  layouts */

header {
    color:#444;
    text-align: center;
    width: 100%;
    height:80px;
    background:var(--bg-primary-color)  
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
}

.main-wrapper {
    margin-top: 30px !important;
    padding-top: 20px;
}

.section-divider {
    padding-top:30px;
    padding-bottom: 30px;
}


h1.main-title {
    font-size: 30px;
    padding-left: 0;
    margin-left: 0;
    margin-top: 15px;
    color: #333;
    padding: 0;
}


 p.text-paragraph{
    text-align: left;
    color: #333;
    font-weight: 200;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* ===== ======header elements ======== ====== */



/*  nav bar */

.content-nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #571987;*/
}

nav.navbar {
    display: flex;
    margin-top: 24px;
    margin-left: 100px;
}

nav.navbar ul {
    display: flex;
}

nav.navbar ul li {
    list-style: none;
    font-family: var(--font-family-primary);
    margin-left: 20px;
}

nav.navbar ul li a {
    font-size: 15px;
    text-decoration: none;
    color: #ffffff;
}

nav.navbar ul li a:hover {
    color: steelblue;
}

/*  end content nav bar */

/* link boton   */
a.btn-demo {
    display: block;
	background-color:#353ee5;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    margin-top: 16px;
	font-family:Arial;
	font-size:16px;
	padding:12px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
    border: 1px solid #7f85f0;
}

a.btn-demo:hover { 
    background-color:#2830b9;
}

.logo-content {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-nav img {
    width: 250px;
}

.logo-text {
    font-family: var(--font-family-primary);
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 0px;
}


/* css Aplicacion - calculadora SMS */

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.char  {
    background-color: #ebebeb;
    color: #444;
    padding:8px 6px;
    margin-right: 1px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    font-family: var(--font-family-primary);
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.esc-text {
    background-color:#ffeca7;
    color: #444;
    padding: 8px 2px;
    margin-right: 1px;
    height: 20px;
    width: 30px;
    border-radius: 4px;
    font-family: var(--font-family-primary);
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.content-sms {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.content-sms-writer {
    width: 60%;
    display: flex;
    flex-direction: column;   
}

h2.sub-title {
    font-weight: var(--font-weight-primary);
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
}

hr {
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
}

.text-default {
    font-size: 16px;
}

/*  sms writer */

.input-text-sms {
    width: 100%;
    min-height: 170px;
    padding: 10px;
    border:1px solid #ccc;
    border-radius:14px;
    outline: none;
    font-size: 16px;
    color: #444;
    margin-bottom: 20px;
    font-family: var(--font-family-primary);
    font-weight: 400;
}

.input-text-sms:focus {
    background-color: #f5fffa;
    
}

/*  fin sms writer */

.content-sms-info {
   width: 35%;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 8px;
   padding:0; 
   font-family: var(--font-family-primary);
}

/* grid sms info  */

.grid-container-sms-info {
    display: grid;
    background-color:#184969;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, auto); 
    padding:0;
    border-collapse: collapse;
    border-radius: 6px;
    color: #fff;
}

.grid-item {
    padding: 14px 6px 14px 6px;
    border-collapse: collapse;
    text-align: center;
    line-height: 22px;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    border:1px solid #ffffff;
    border-width: 0 0px 1px 0;
  }


   .grid-item:nth-last-child(-n+2) {
    border-bottom: 0;
  }

  .grid-item:nth-child(2n) {
    border-right: 0;
  }

/*  content info leyenda */

.content-info {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.list-info {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

.list-info li {
    font-size: 16px;
    font-family: var(--font-family-primary);
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* lista refencia  */

span.box-char {
    display: inline-block;
    min-width: 22px !important;
    height: 20px;
    font-size: 14px;
    padding:8px 6px;
    border-radius:4px ;
    text-align:center !important;
    color:#444; 
}

span.text-box {
    margin-left: 20px;
}

.bg-default {
background-color: #ebebeb;
}

.bg-yellow {
    background-color:#ffeca7;
}

.bg-sky {
    background-color:#a9d9fc;
}

.bg-greenLight {
    background-color:#85b13e;
}

.bg-green {
    background-color:#5f7d2d;
}

/*  media query */



  @media (320px <= width <= 600px ){

    .container-center {
    max-width:98%;
    margin:0 auto;
    }
    
    h2.main-title {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .content-sms {
        width: 94%;
        flex-direction: column;
    }

    .content-sms-writer , .content-sms-info {
        width: 100%;
        padding: 0;
        margin:0 auto;    
    }

    .container-center {
        width: 100% !important;
    }

    .input-text-sms {
    min-height: 80px;
  }

  .grid-item {
    padding: 4px 0;
    font-size: 14px;
    font-weight: 400;
  }

}

@media (769px <= width <= 1020px) {
    .container-center {
        max-width: 96%;
        margin: 0 auto;
    } 
    
}

@media (1021px <= width) {
    .container-center {
        max-width:920px;
        margin: 0 auto;
    }

  
}

@media (1177px <= width) {
    .container-center {
        max-width: 1177px;
    }

    .container-center-header {
        width: 1177px ;
        margin: 0 auto;
    }

}

